# customers

In [2]:
import pandas as pd
import pyarrow.parquet as pq

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
spark = SparkSession \
    .builder \
    .appName("fiap mba") \
    .enableHiveSupport() \
    .getOrCreate()

In [3]:
file_path = '/user/hive/warehouse/bronze/olist_customers'

olist_customers = (
    spark.read
    .format("parquet")
    .load(file_path)
)

In [4]:
olist_customers = olist_customers.toPandas()

In [5]:
olist_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,f2a1d75b74d9ec748af88e894cd87597,15ee900ec703c9a10082b12bcbdcb307,68590,jacunda,PA
1,f15272fe9d0e2ae3297185f18d3bac46,11e74a9cbe1158d1c934d4c166f59ff3,15056,sao jose do rio preto,SP
2,7324ecb0ff143f561193d22bea7d63fb,c6be127fa6e30c6f705a205236a1f310,13302,itu,SP
3,7accf3d920f47c07f5bfbc88f53f9926,a7f1a6dc9ba06844bd84b810efa56d33,45638,coaraci,BA
4,3680a273ddb333253fa2edc7d3f8a3f2,6cbfcc29787035834a40a46f5898436a,29700,colatina,ES
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [6]:
olist_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,f2a1d75b74d9ec748af88e894cd87597,15ee900ec703c9a10082b12bcbdcb307,68590,jacunda,PA
1,f15272fe9d0e2ae3297185f18d3bac46,11e74a9cbe1158d1c934d4c166f59ff3,15056,sao jose do rio preto,SP
2,7324ecb0ff143f561193d22bea7d63fb,c6be127fa6e30c6f705a205236a1f310,13302,itu,SP
3,7accf3d920f47c07f5bfbc88f53f9926,a7f1a6dc9ba06844bd84b810efa56d33,45638,coaraci,BA
4,3680a273ddb333253fa2edc7d3f8a3f2,6cbfcc29787035834a40a46f5898436a,29700,colatina,ES
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

### Checando valores nulos

In [7]:

olist_customers.isnull().values.any()

False

In [8]:
olist_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

### Checando customer ids duplicados

In [9]:

olist_customers[olist_customers.duplicated(['customer_id'], keep=False)]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [30]:
olist_customers.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_customers.parquet')

In [10]:
#olist_customers = spark.createDataFrame(olist_customers)

In [12]:
#olist_customers.write.mode('overwrite').parquet("/user/hive/warehouse/silver/olist_customers/")

# orders

In [10]:
olist_orders = (
    spark.read
    .format("parquet")
    .load('/user/hive/warehouse/bronze/olist_orders')
)

In [11]:
olist_orders = olist_orders.toPandas()

In [12]:
olist_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,995392413cee61cc1fcec9807870ea8c,4bf24904ec428325abad2791fcca1aff,delivered,2017-09-04 22:24:05,2017-09-04 22:43:54,2017-09-13 17:20:04,2017-09-22 21:09:32,2017-09-27
1,b39de9ed2bb8fd08a970e4517c698824,ed18b557140ff674f36cbcf73921dbbe,delivered,2018-03-27 09:15:17,2018-03-27 09:30:12,2018-03-27 23:52:09,2018-04-11 21:51:02,2018-04-26
2,b1a88554eb1f7f68627549e26257b583,5cf799d0ac88e1d328434a595c015efa,delivered,2018-06-13 02:19:56,2018-06-14 02:39:10,2018-06-14 13:55:00,2018-06-20 21:07:29,2018-07-13
3,fe2ac30768e07e362b649951cc625144,be07f06f183227b5c2b31c30fbb4f382,delivered,2017-01-16 16:41:18,2017-01-16 17:30:23,2017-01-17 11:26:52,2017-01-26 16:24:07,2017-02-22
4,460673777918e7a42a262293341ae7d5,6f352988122e277e645d36a012e66bcb,delivered,2018-02-07 22:38:41,2018-02-08 22:30:24,2018-02-09 16:56:51,2018-02-24 18:06:45,2018-03-05
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

### Checking valores nulos

In [13]:
olist_orders.isnull().values.any()

True

In [14]:
olist_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

### Removendo linhas onde hÃ¡ colunas nulas

In [15]:
olist_orders =  olist_orders.dropna(axis='index',subset=['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date'])

### Checando order id duplicados

In [16]:
olist_orders[olist_orders.duplicated(['order_id'], keep=False)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [17]:
olist_orders.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_orders.parquet')

# orders items

In [18]:
olist_order_items = (
    spark.read
    .format("parquet")
    .load('/user/hive/warehouse/bronze/olist_order_items')
)

In [19]:
olist_order_items = olist_order_items.toPandas()

### Checando valores nulos

In [20]:

olist_order_items.isnull().values.any()

False

### Checando order id duplicados

In [21]:

olist_order_items[olist_order_items.duplicated(['order_id'], keep=False)]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
1,8ac2728285fd4228f35d907768b5288a,1,8b90be4893a4277a9f33c5b2348cf9c6,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,109.99,8.27
2,8ac2728285fd4228f35d907768b5288a,2,fa94f25a73969e3a25d52706e246dfcc,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,109.99,16.55
3,8ac2728285fd4228f35d907768b5288a,3,b01cedfa96d891427058852f0625e9ee,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,259.99,21.01
4,8ac2728285fd4228f35d907768b5288a,4,fa94f25a73969e3a25d52706e246dfcc,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,109.99,16.55
8,8ac5066a163c60c1ae9bf17200df3dd1,1,e53e557d5a159f5aa2c5e995dfdf244b,88460e8ebdecbfecb5f9601833981930,2018-02-14 01:35:40,74.90,15.27
...,...,...,...,...,...,...,...
112635,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14
112640,fffb9224b6fc7c43ebb0904318b10b5f,1,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112641,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112642,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112643,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19

In [65]:
olist_order_items[olist_order_items['order_id'] == '8ac2728285fd4228f35d907768b5288a']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
1,8ac2728285fd4228f35d907768b5288a,1,8b90be4893a4277a9f33c5b2348cf9c6,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,109.99,8.27
2,8ac2728285fd4228f35d907768b5288a,2,fa94f25a73969e3a25d52706e246dfcc,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,109.99,16.55
3,8ac2728285fd4228f35d907768b5288a,3,b01cedfa96d891427058852f0625e9ee,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,259.99,21.01
4,8ac2728285fd4228f35d907768b5288a,4,fa94f25a73969e3a25d52706e246dfcc,004c9cd9d87a3c30c522c48c4fc07416,2017-03-15 14:09:17,109.99,16.55

### Ordenando order items pelo order id

In [22]:
sorted_olist_order_items=olist_order_items.sort_values('order_id', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [23]:
sorted_olist_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
61186,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
61187,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
61188,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
61189,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
61190,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

### Removendo order ids duplicados

In [24]:
final_olist_order_items=sorted_olist_order_items.drop_duplicates(subset={"order_id"}, keep='first', inplace=False)

In [25]:
final_olist_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
61186,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
61187,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
61188,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
61189,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
61190,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [26]:
olist_order_items.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_order_items.parquet')

# order payments

In [27]:
olist_order_payments =  (
     spark.read
    .format("parquet")
    .load('/user/hive/warehouse/bronze/olist_order_payments')
)

In [28]:
olist_order_payments = olist_order_payments.toPandas()

In [29]:
olist_order_payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

### Checando valores nulos

In [30]:

olist_order_payments.isnull().values.any()

False

### Checando order ids duplicados

In [31]:
olist_order_payments[olist_order_payments.duplicated(['order_id'], keep='first')]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
1456,683bf306149bb869980b68d48a1bd6ab,1,credit_card,1,8.58
2324,e6a66a8350bb88497954d37688ab123e,2,voucher,1,10.51
2393,8e5148bee82a7e42c5f9ba76161dc51a,1,credit_card,1,0.67
2414,816ccd9d21435796e8ffa9802b2a782f,1,credit_card,1,5.65
2497,2cbcb371aee438c59b722a21d83597e0,2,voucher,1,7.80
...,...,...,...,...,...
103778,fd86c80924b4be8fb7f58c4ecc680dae,1,credit_card,1,76.10
103817,6d4616de4341417e17978fe57aec1c46,1,credit_card,1,19.18
103860,31bc09fdbd701a7a4f9b55b5955b8687,6,voucher,1,77.99
103869,c9b01bef18eb84888f0fd071b8413b38,1,credit_card,6,238.16
103874,d41f1036712e18ee525939d08b7a1c98,1,credit_card,1,3.57

In [32]:
olist_order_payments[olist_order_payments['order_id'] == '683bf306149bb869980b68d48a1bd6ab']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
385,683bf306149bb869980b68d48a1bd6ab,2,voucher,1,30.00
1456,683bf306149bb869980b68d48a1bd6ab,1,credit_card,1,8.58

In [33]:
olist_order_payments.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_order_payments.parquet')

# order reviews

In [12]:
olist_order_reviews =  (
     spark.read
    .format("parquet")
    .load('/user/hive/warehouse/bronze/olist_order_reviews')
)

In [13]:
olist_order_reviews = olist_order_reviews.toPandas()

In [14]:
olist_order_reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
104157,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,None,None,2018-07-07 00:00:00,2018-07-14 17:18:30
104158,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,None,None,2017-12-09 00:00:00,2017-12-11 20:06:42
104159,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,None,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
104160,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,None,None,2018-07-01 00:00:00,2018-07-02 12:59:13
104161,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,None,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

### Checando valores nulos

In [15]:

olist_order_reviews.isnull().values.any()

True

In [16]:
olist_order_reviews.isnull().sum()

review_id                      1
order_id                    2236
review_score                2380
review_comment_title       92157
review_comment_message     63079
review_creation_date        8764
review_answer_timestamp     8785
dtype: int64

### removendo as linhas onde hÃ¡ colunas nulas

In [17]:

olist_order_reviews =  olist_order_reviews.dropna(axis='index',subset=['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp'])

In [18]:
olist_order_reviews.isnull().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

### Checando order ids duplicados

In [19]:

olist_order_reviews[olist_order_reviews.duplicated(['order_id'], keep=False)]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
1691,b06f6882b1c0bc82ddf057b58b86fe50,2daee070f2042c8b7a8e9fdde778a31a,5,Muito bom,"Ã“timo, excelente produto recomendo a todos",2018-07-12 00:00:00,2018-07-13 10:49:12
10013,471a7d853b152d77aefd43bc39f03d64,84aa61a900410cfe26b57337d376a1ae,5,Ã“tima,Recomendo!,2018-08-22 00:00:00,2018-08-22 22:41:31
11480,64180c2c7916ed488bcb592f0f4b4921,7144ca093cbdecfdfc3e76d49da6ffb9,2,Sem recomendaÃ§Ã£o,EstÃ¡ faltando receber um produto: Pulseira Mas...,2018-05-23 00:00:00,2018-05-24 10:50:11
28827,032cecbea638b588b8a6fd5be4fddf8c,c1deab56eafcb4bec7703bbe7bd25137,2,produto horrivel,produto fora da minha expectativa,2018-07-26 00:00:00,2018-07-29 10:51:09
34043,74090c1156e2919231690c770e7cd572,230429e6f253f9cd6561aad72ce7ee2f,5,super recomendo,"Produto lindo,adorei!!",2018-08-01 00:00:00,2018-08-01 22:23:30
47034,e488b79befdb804c76b29613cc02ff73,c1deab56eafcb4bec7703bbe7bd25137,4,bom,recomendo a loja,2018-07-26 00:00:00,2018-07-29 10:49:41
47802,bcab607c602aa2ebf22f6889eb896823,230429e6f253f9cd6561aad72ce7ee2f,5,super recomendo,"Fiquei muito satisfeita com o produto,fiz um p...",2018-07-22 00:00:00,2018-07-25 00:27:00
61034,650f8208894144b97f95986628a224bf,27dc874d0fc1a19c74ec77ca706be968,5,super recomendo,chegou bem antes do prazo,2018-07-05 00:00:00,2018-07-09 20:49:51
67951,b06f6882b1c0bc82ddf057b58b86fe50,1536003b9af6a526e0d02b8cd13fd2af,5,Muito bom,"Ã“timo, excelente produto recomendo a todos",2018-07-12 00:00:00,2018-07-13 10:49:12
74191,64180c2c7916ed488bcb592f0f4b4921,c7e1e46af92704b1c2e1924de96e7479,2,Sem recomendaÃ§Ã£o,EstÃ¡ faltando receber um produto: Pulseira Mas...,2018-05-23 00:00:00,2018-05-24 10:50:11
74936,1c481b7cc2949a1d699337f1bed766b0,84aa61a900410cfe26b57337d376a1ae,5,Ã“tima,Recomendo!,2018-08-22 00:00:00,2018-08-22 20:50:20
86975,74090c1156e2919231690c770e7cd572,715b8576b74d53796bcbb107a201eb55,5,super recomendo,"Produto lindo,adorei!!",2018-08-01 00:00:00,2018-08-01 22:23:30
87822,a56ae95ea4642e8951919ea3e3eddb91,27dc874d0fc1a19c74ec77ca706be968,5,Super recomendo,chegou bem antes do prazo,2018-07-05 00:00:00,2018-07-09 20:49:11
92790,6cc9ffe1e6e48b2196bef31822c3040f,1536003b9af6a526e0d02b8cd13fd2af,5,Muito bom,"Ã“timo, excelente, recomendo a todos",2018-07-11 00:00:00,2018-07-11 20:11:09
93776,917cdadc1a5b4cf4c988d264992f23a9,c7e1e46af92704b1c2e1924de96e7479,3,Recomendo,Recebi o produto errado.,2018-06-06 00:00:00,2018-06-07 13:53:24
96748,bcab607c602aa2ebf22f6889eb896823,715b8576b74d53796bcbb107a201eb55,5,super recomendo,"Fiquei muito satisfeita com o produto,fiz um p...",2018-07-22 00:00:00,2018-07-25 00:27:00
99815,917cdadc1a5b4cf4c988d264992f23a9,7144ca093cbdecfdfc3e76d49da6ffb9,3,Recomendo,Recebi o produto errado.,2018-06-06 00:00:00,2018-06-07 13:53:24
100214,6cc9ffe1e6e48b2196bef31822c3040f,2daee070f2042c8b7a8e9fdde778a31a,5,Muito bom,"Ã“timo, excelente, recomendo a todos",2018-07-11 00:00:00,2018-07-11 20:11:09

In [20]:
olist_order_reviews[olist_order_reviews['review_id'] == '917cdadc1a5b4cf4c988d264992f23a9']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
93776,917cdadc1a5b4cf4c988d264992f23a9,c7e1e46af92704b1c2e1924de96e7479,3,Recomendo,Recebi o produto errado.,2018-06-06 00:00:00,2018-06-07 13:53:24
99815,917cdadc1a5b4cf4c988d264992f23a9,7144ca093cbdecfdfc3e76d49da6ffb9,3,Recomendo,Recebi o produto errado.,2018-06-06 00:00:00,2018-06-07 13:53:24

### ordenando por review id

In [21]:
sorted_olist_order_reviews=olist_order_reviews.sort_values('review_id', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

### removendo linhas onde o review_id se repete

In [33]:
final_olist_order_reviews=sorted_olist_order_reviews.drop_duplicates(subset={"review_id"}, keep='first', inplace=False)

### removendo linhas onde o review_score nÃ£o Ã© um nÃºmero

In [34]:
non_numeric_order_reviews = final_olist_order_reviews[final_olist_order_reviews['review_score'].apply(lambda x: not x.isnumeric())]

In [35]:
non_numeric_order_reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
49987,Ao se colocar o Celular,na CAPA,os BOTOES,o Microfone,"ficam Bloquados ......e sem Acess""",2018-04-04 00:00:00,2018-04-06 16:36:40
83469,4,75 recebi -4,75 pedi 5,25 recebi -5,"25""",2018-07-25 00:00:00,2018-07-26 11:40:26
33190,Fiz minha compra dia 05/05,me deram o prazo atÃ© o dia 17/05,quando finalizei a compra,cartÃ£o autorizado me deram o prazo de atÃ© o d...,"e atÃ© agora NADA. Insatisfeita""",2017-05-27 00:00:00,2017-05-27 10:13:34
83983,Segunda vez que escrevo,comprei 3 produtos no mesmo dia,o pedido foi faturado separadamente,e da loja em questÃ£o,recebi apenas 1 produto e deveria ter recebid...,2018-06-22 00:00:00,2018-06-26 17:44:43
80070,em outra compra que fiz,mais dois pares de sandalias,rebi.mais com os numeros errados,pedi numeros das duas 39/40 me mandaram 41 e o...,"mai""",2017-06-28 00:00:00,2017-06-29 22:57:30

In [36]:
final_olist_order_reviews = final_olist_order_reviews[final_olist_order_reviews['review_score'].apply(lambda x: x.isnumeric())]

In [37]:
final_olist_order_reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
82786,00020c7512a52e92212f12d3e37513c0,e28abf2eb2f1fbcbdc2dd0cd9a561671,5,Entrega rÃ¡pida!,A entrega foi super rÃ¡pida e o pendente Ã© lind...,2018-04-25 00:00:00,2018-04-26 14:55:36
30812,00046a69550325aea5fb89f65c7387f2,9fbda7367628952bc36c3512c46d887b,5,SUPER RECOMENDO,"GOSTEI DA CAPINHA DE CELULAR, VEIO COMO EU ESP...",2018-07-01 00:00:00,2018-07-02 12:32:24
6506,000688fa7009b3c9fafe4950b37cbc81,f7445b0cae0fd4d05894171adcc55931,5,Bom,Meu sait preferido,2018-06-19 00:00:00,2018-06-20 04:48:13
30041,00148610066c357531807daea5888a22,8f705decc6b7168523d676183f61b950,5,ENTREGA DENTRO DO PRAZO,ENTREGA DENTRO DO PRAZO..RECOMENDO!,2018-05-16 00:00:00,2018-05-25 17:57:16
25853,002155c71462b955916f9e3c1df7d376,e1a73a8183d164944b0f44e1eb39ea7d,5,Recomendo,Fiquei muito satisfeita.,2018-04-28 00:00:00,2018-04-30 23:48:44
...,...,...,...,...,...,...,...
32716,ffd23fd8bdd92b248c78db6dd5809104,6d4e74b6495388cdfde5999070ad25d7,4,Recomendo,Ainda experimentando o produto,2018-08-02 00:00:00,2018-08-03 12:43:45
27619,ffda963529fcb525067c642cf666b175,5fb90fed46dfc44305e1c3ecb5f16a2d,5,Super recomendo.,Excelente atendimento.,2018-05-05 00:00:00,2018-05-08 16:04:54
88709,ffdedfdb2405f13967c76175160acd3e,b378d3979dc4d1d8bd701f93e8b7ce6a,4,Recomendo,O produto chegou certo e bem antes do prazo.,2018-06-30 00:00:00,2018-07-04 00:35:42
67376,ffe556cda2b136b51ede6d5ce5559a53,b23fef1fa296cd791a57b465a3dc3827,5,Super recomendo,Produto chegou antes do prazo e com Ã³tima qual...,2018-06-15 00:00:00,2018-06-15 19:18:50
71157,ffec6410b1f1d834f07afcc4800f2f2e,45c653bdeb327fde86e2a52bd3d33e89,4,Recomendo.,Muito boa a loja. ParabÃ©ns.,2018-06-12 00:00:00,2018-06-14 01:14:24

In [39]:
final_olist_order_reviews.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_order_reviews.parquet')

# products

In [47]:
olist_products =  (
     spark.read
    .format("parquet")
    .load('/user/hive/warehouse/bronze/olist_products')
)

In [48]:
olist_products = olist_products.toPandas()

In [49]:
olist_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

### checando valores nulos

In [50]:

olist_products.isnull().values.any()

True

In [51]:
olist_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

### Removendo linhas onde hÃ¡ colunas nulas

In [52]:

olist_products =  olist_products.dropna(axis='index',subset=['product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm'])

In [53]:
olist_products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

### Checando linhas com product id repetido

In [54]:

olist_products[olist_products.duplicated(['product_id'], keep=False)]

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [49]:
olist_products.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_products.parquet')

# sellers

In [55]:
olist_sellers =  (
     spark.read
    .format("parquet")
    .load('/user/hive/warehouse/bronze/olist_sellers')
)

In [56]:
olist_sellers = olist_sellers.toPandas()

In [57]:
olist_sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

### Checando valores nulos

In [58]:

olist_sellers.isnull().values.any()

False

### Checando seller id duplicados

In [59]:

olist_sellers[olist_sellers.duplicated(['seller_id'], keep=False)]

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

In [60]:
olist_sellers.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_sellers.parquet')

# product category

In [61]:
product_category_name_translation =  (
     spark.read
    .format("parquet")
    .load('/user/hive/warehouse/bronze/product_category_name_translation')
)

In [62]:
product_category_name_translation = product_category_name_translation.toPandas()

In [63]:
product_category_name_translation

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [57]:
product_category_name_translation.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

### Checando valores nulos

In [64]:

product_category_name_translation.isnull().values.any()

False

### Checando linhas duplicadas

In [65]:

product_category_name_translation[product_category_name_translation.duplicated()]

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

In [67]:
product_category_name_translation.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_product_category_name_translation.parquet')

In [ ]:
# aqui vem tambÃ©m a parte da limpeza do geolocation para chamar a API e a chamada da API

## geolocation

In [4]:
file_path = 'hdfs://namenode:8020/user/hive/warehouse/bronze/olist_geolocation/'

olist_geolocation = pd.read_parquet(file_path, engine='pyarrow')

In [5]:
olist_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

### checando valores nulos

In [6]:
olist_geolocation.isnull().values.any()

False

In [7]:
olist_geolocation[olist_geolocation.duplicated(['geolocation_zip_code_prefix'], keep=False)]

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [8]:
cep_file = pd.read_csv('cep/ceps.csv')

In [9]:
cep_file

,Unnamed: 0,Unnamed: 0.1,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,coord,location
0,0,0,1037,-23.545621,-46.639292,sao paulo,SP,"-23.54562128115268, -46.63929204800168","Casas Bahia, 131, PraÃ§a Ramos de Azevedo, RepÃº..."
1,1,1,1046,-23.546081,-46.644820,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica..."
2,3,3,1041,-23.544392,-46.639499,sao paulo,SP,"-23.5443921648681, -46.63949930627844","Galeria R Monteiro, 77, Rua 24 de Maio, RepÃºbl..."
3,4,4,1035,-23.541578,-46.641607,sao paulo,SP,"-23.541577961711493, -46.64160722329613","816, Avenida SÃ£o JoÃ£o, RepÃºblica, SÃ£o Paulo, R..."
4,5,5,1012,-23.547762,-46.635361,sÃ£o paulo,SP,"-23.547762303364262, -46.63536053788448","EdifÃ­cio George Loeb, 113, Rua da Quitanda, Gl..."
...,...,...,...,...,...,...,...,...,...
19010,999774,999774,99955,-28.107588,-52.144019,vila langaro,RS,"-28.10758843069072, -52.14401943332764","Rua 22 de Outubro, Vila LÃ¢ngaro, RegiÃ£o GeogrÃ¡..."
19011,999780,999780,99970,-28.345143,-51.876926,ciriaco,RS,"-28.345142602795917, -51.87692587316699","Rua Elias Passari, CirÃ­aco, RegiÃ£o GeogrÃ¡fica ..."
19012,999786,999786,99910,-27.863500,-52.084760,floriano peixoto,RS,"-27.86349999999993, -52.08475999999996","Floriano Peixoto, RegiÃ£o GeogrÃ¡fica Imediata d..."
19013,999803,999803,99920,-27.858716,-52.300403,erebango,RS,"-27.85871614928, -52.300402732656885","VRS-828, Erebango, RegiÃ£o GeogrÃ¡fica Imediata ..."
19014,999846,999846,99952,-28.160371,-51.936922,santa cecilia do sul,RS,"-28.160370640488377, -51.93692164696407","Rua Porto Alegre, Santa CecÃ­lia, Santa CecÃ­lia..."

In [10]:
cep_file['cep'] = cep_file.location.apply(lambda x: str(x).split(', ')[-2])

In [11]:
cep_file.cep = cep_file.cep.apply(lambda x: str(x).replace('-','').replace('.','').replace(' ',''))

In [12]:
cep_file

,Unnamed: 0,Unnamed: 0.1,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,coord,location,cep
0,0,0,1037,-23.545621,-46.639292,sao paulo,SP,"-23.54562128115268, -46.63929204800168","Casas Bahia, 131, PraÃ§a Ramos de Azevedo, RepÃº...",01037000
1,1,1,1046,-23.546081,-46.644820,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
2,3,3,1041,-23.544392,-46.639499,sao paulo,SP,"-23.5443921648681, -46.63949930627844","Galeria R Monteiro, 77, Rua 24 de Maio, RepÃºbl...",01041001
3,4,4,1035,-23.541578,-46.641607,sao paulo,SP,"-23.541577961711493, -46.64160722329613","816, Avenida SÃ£o JoÃ£o, RepÃºblica, SÃ£o Paulo, R...",01036100
4,5,5,1012,-23.547762,-46.635361,sÃ£o paulo,SP,"-23.547762303364262, -46.63536053788448","EdifÃ­cio George Loeb, 113, Rua da Quitanda, Gl...",01012010
...,...,...,...,...,...,...,...,...,...,...
19010,999774,999774,99955,-28.107588,-52.144019,vila langaro,RS,"-28.10758843069072, -52.14401943332764","Rua 22 de Outubro, Vila LÃ¢ngaro, RegiÃ£o GeogrÃ¡...",RegiÃ£oSul
19011,999780,999780,99970,-28.345143,-51.876926,ciriaco,RS,"-28.345142602795917, -51.87692587316699","Rua Elias Passari, CirÃ­aco, RegiÃ£o GeogrÃ¡fica ...",99970000
19012,999786,999786,99910,-27.863500,-52.084760,floriano peixoto,RS,"-27.86349999999993, -52.08475999999996","Floriano Peixoto, RegiÃ£o GeogrÃ¡fica Imediata d...",RegiÃ£oSul
19013,999803,999803,99920,-27.858716,-52.300403,erebango,RS,"-27.85871614928, -52.300402732656885","VRS-828, Erebango, RegiÃ£o GeogrÃ¡fica Imediata ...",RegiÃ£oSul
19014,999846,999846,99952,-28.160371,-51.936922,santa cecilia do sul,RS,"-28.160370640488377, -51.93692164696407","Rua Porto Alegre, Santa CecÃ­lia, Santa CecÃ­lia...",RegiÃ£oSul

In [13]:
cep_file.loc[cep_file.cep.apply(lambda x: not x.isnumeric()),'cep'] = 'Not Found'

In [14]:
cep_file.drop(cep_file.columns[[0,1]], axis=1, inplace=True)

In [15]:
cep_file

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,coord,location,cep
0,1037,-23.545621,-46.639292,sao paulo,SP,"-23.54562128115268, -46.63929204800168","Casas Bahia, 131, PraÃ§a Ramos de Azevedo, RepÃº...",01037000
1,1046,-23.546081,-46.644820,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
2,1041,-23.544392,-46.639499,sao paulo,SP,"-23.5443921648681, -46.63949930627844","Galeria R Monteiro, 77, Rua 24 de Maio, RepÃºbl...",01041001
3,1035,-23.541578,-46.641607,sao paulo,SP,"-23.541577961711493, -46.64160722329613","816, Avenida SÃ£o JoÃ£o, RepÃºblica, SÃ£o Paulo, R...",01036100
4,1012,-23.547762,-46.635361,sÃ£o paulo,SP,"-23.547762303364262, -46.63536053788448","EdifÃ­cio George Loeb, 113, Rua da Quitanda, Gl...",01012010
...,...,...,...,...,...,...,...,...
19010,99955,-28.107588,-52.144019,vila langaro,RS,"-28.10758843069072, -52.14401943332764","Rua 22 de Outubro, Vila LÃ¢ngaro, RegiÃ£o GeogrÃ¡...",Not Found
19011,99970,-28.345143,-51.876926,ciriaco,RS,"-28.345142602795917, -51.87692587316699","Rua Elias Passari, CirÃ­aco, RegiÃ£o GeogrÃ¡fica ...",99970000
19012,99910,-27.863500,-52.084760,floriano peixoto,RS,"-27.86349999999993, -52.08475999999996","Floriano Peixoto, RegiÃ£o GeogrÃ¡fica Imediata d...",Not Found
19013,99920,-27.858716,-52.300403,erebango,RS,"-27.85871614928, -52.300402732656885","VRS-828, Erebango, RegiÃ£o GeogrÃ¡fica Imediata ...",Not Found
19014,99952,-28.160371,-51.936922,santa cecilia do sul,RS,"-28.160370640488377, -51.93692164696407","Rua Porto Alegre, Santa CecÃ­lia, Santa CecÃ­lia...",Not Found

In [21]:
cep_file = cep_file.drop(columns=['geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state'])

In [22]:
cep_file

,geolocation_zip_code_prefix,coord,location,cep
0,1037,"-23.54562128115268, -46.63929204800168","Casas Bahia, 131, PraÃ§a Ramos de Azevedo, RepÃº...",01037000
1,1046,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
2,1041,"-23.5443921648681, -46.63949930627844","Galeria R Monteiro, 77, Rua 24 de Maio, RepÃºbl...",01041001
3,1035,"-23.541577961711493, -46.64160722329613","816, Avenida SÃ£o JoÃ£o, RepÃºblica, SÃ£o Paulo, R...",01036100
4,1012,"-23.547762303364262, -46.63536053788448","EdifÃ­cio George Loeb, 113, Rua da Quitanda, Gl...",01012010
...,...,...,...,...
19010,99955,"-28.10758843069072, -52.14401943332764","Rua 22 de Outubro, Vila LÃ¢ngaro, RegiÃ£o GeogrÃ¡...",Not Found
19011,99970,"-28.345142602795917, -51.87692587316699","Rua Elias Passari, CirÃ­aco, RegiÃ£o GeogrÃ¡fica ...",99970000
19012,99910,"-27.86349999999993, -52.08475999999996","Floriano Peixoto, RegiÃ£o GeogrÃ¡fica Imediata d...",Not Found
19013,99920,"-27.85871614928, -52.300402732656885","VRS-828, Erebango, RegiÃ£o GeogrÃ¡fica Imediata ...",Not Found
19014,99952,"-28.160370640488377, -51.93692164696407","Rua Porto Alegre, Santa CecÃ­lia, Santa CecÃ­lia...",Not Found

In [23]:
final_olist_geolocation = pd.merge( olist_geolocation, cep_file, on='geolocation_zip_code_prefix', how='left')

In [25]:
final_olist_geolocation.head(50)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,coord,location,cep
0,1037,-23.545621,-46.639292,sao paulo,SP,"-23.54562128115268, -46.63929204800168","Casas Bahia, 131, PraÃ§a Ramos de Azevedo, RepÃº...",01037000
1,1046,-23.546081,-46.644820,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
2,1046,-23.546129,-46.642951,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
3,1041,-23.544392,-46.639499,sao paulo,SP,"-23.5443921648681, -46.63949930627844","Galeria R Monteiro, 77, Rua 24 de Maio, RepÃºbl...",01041001
4,1035,-23.541578,-46.641607,sao paulo,SP,"-23.541577961711493, -46.64160722329613","816, Avenida SÃ£o JoÃ£o, RepÃºblica, SÃ£o Paulo, R...",01036100
5,1012,-23.547762,-46.635361,sÃ£o paulo,SP,"-23.547762303364262, -46.63536053788448","EdifÃ­cio George Loeb, 113, Rua da Quitanda, Gl...",01012010
6,1047,-23.546273,-46.641225,sao paulo,SP,"-23.54627311241268, -46.64122516971552","EdifÃ­cio Vicentina, Rua Doutor BrÃ¡ulio Gomes, ...",01043000
7,1013,-23.546923,-46.634264,sao paulo,SP,"-23.546923208436723, -46.6342636964915","EdifÃ­cio CanadÃ¡, Rua 15 de Novembro, GlicÃ©rio,...",01013001
8,1029,-23.543769,-46.634278,sao paulo,SP,"-23.543769055769133, -46.63427784085132","Mosteiro de SÃ£o Bento, Largo SÃ£o Bento, GlicÃ©r...",01029010
9,1011,-23.547640,-46.636032,sao paulo,SP,"-23.547639550320632, -46.63603162315495","30, PraÃ§a do Patriarca, GlicÃ©rio, SÃ©, SÃ£o Paul...",01002010
10,1013,-23.547325,-46.634184,sao paulo,SP,"-23.546923208436723, -46.6342636964915","EdifÃ­cio CanadÃ¡, Rua 15 de Novembro, GlicÃ©rio,...",01013001
11,1032,-23.538418,-46.634778,sao paulo,SP,"-23.53841810407414, -46.634778375266734","EdifÃ­cio PalÃ¡cio da PolÃ­cia Civil, 527, Rua Br...",01032001
12,1014,-23.546435,-46.633830,sao paulo,SP,"-23.546435343326205, -46.63383023397196","40, Rua 3 de Dezembro, GlicÃ©rio, SÃ©, SÃ£o Paulo...",01014020
13,1012,-23.548946,-46.634671,sao paulo,SP,"-23.547762303364262, -46.63536053788448","EdifÃ­cio George Loeb, 113, Rua da Quitanda, Gl...",01012010
14,1037,-23.545187,-46.637855,sÃ£o paulo,SP,"-23.54562128115268, -46.63929204800168","Casas Bahia, 131, PraÃ§a Ramos de Azevedo, RepÃº...",01037000
15,1046,-23.546081,-46.644820,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
16,1039,-23.541883,-46.639919,sao paulo,SP,"-23.54188300998332, -46.63991946670314","895, Avenida Ipiranga, RepÃºblica, SÃ£o Paulo, R...",01039000
17,1024,-23.541390,-46.629899,sÃ£o paulo,SP,"-23.541389521053937, -46.62989908781218","323, Rua da Cantareira, GlicÃ©rio, SÃ©, SÃ£o Paul...",01024100
18,1009,-23.546935,-46.636588,sao paulo,SP,"-23.54693540437998, -46.63658792659698","EdifÃ­cio Conde Prates, 293, Rua LÃ­bero BadarÃ³,...",01009000
19,1046,-23.545884,-46.643163,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
20,1046,-23.545166,-46.643786,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
21,1020,-23.552235,-46.628441,sÃ£o paulo,SP,"-23.55223547100232, -46.6284406588955","Ultragaz, Rua Tabatinguera, GlicÃ©rio, SÃ©, SÃ£o ...",01020001
22,1011,-23.546690,-46.635447,sÃ£o paulo,SP,"-23.547639550320632, -46.63603162315495","30, PraÃ§a do Patriarca, GlicÃ©rio, SÃ©, SÃ£o Paul...",01002010
23,1043,-23.546657,-46.640788,sÃ£o paulo,SP,"-23.546656718016017, -46.64078762115524","127, Rua 7 de Abril, RepÃºblica, SÃ£o Paulo, Reg...",01043000
24,1050,-23.549774,-46.645599,sao paulo,SP,"-23.549773516504185, -46.64559900666509","360, Rua Martins Fontes, Vila Buarque, RepÃºbli...",01050000
25,1045,-23.541594,-46.641894,sao paulo,SP,"-23.541593762969622, -46.64189378810082","Rua Pedro AmÃ©rico, RepÃºblica, SÃ£o Paulo, RegiÃ£...",01045010
26,1009,-23.545430,-46.635715,sao paulo,SP,"-23.54693540437998, -46.63658792659698","EdifÃ­cio Conde Prates, 293, Rua LÃ­bero BadarÃ³,...",01009000
27,1007,-23.550393,-46.637302,sao paulo,SP,"-23.550392524842728, -46.63730164071784","EdifÃ­cio das Americas, 217, Rua Riachuelo, Gli...",01007000
28,1032,-23.539842,-46.635148,sÃ£o paulo,SP,"-23.53841810407414, -46.634778375266734","EdifÃ­cio PalÃ¡cio da PolÃ­cia Civil, 527, Rua Br...",01032001
29,1041,-23.543539,-46.640577,sao paulo,SP,"-23.5443921648681, -46.63949930627844","Galeria R Monteiro, 77, Rua 24 de Maio, RepÃºbl...",01041001
30,1005,-23.549819,-46.635606,sao paulo,SP,"-23.549819091869107, -46.63560588995324","EdifÃ­cio Sinhara, Rua Benjamim Constant, GlicÃ©...",01005000
31,1037,-23.546705,-46.640336,sÃ£o paulo,SP,"-23.54562128115268, -46.63929204800168","Casas Bahia, 131, PraÃ§a Ramos de Azevedo, RepÃº...",01037000
32,1017,-23.550011,-46.631166,sÃ£o paulo,SP,"-23.55001091199737, -46.63116636914989","Avenida Rangel Pestana, GlicÃ©rio, SÃ©, SÃ£o Paul...",01017000
33,1046,-23.545320,-46.644069,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
34,1019,-23.552152,-46.630802,sao paulo,SP,"-23.552151883432384, -46.63080224715792","EdifÃ­cio PT, 132, Rua Silveira Martins, GlicÃ©r...",01019000
35,1032,-23.540775,-46.635515,sao paulo,SP,"-23.53841810407414, -46.634778375266734","EdifÃ­cio PalÃ¡cio da PolÃ­cia Civil, 527, Rua Br...",01032001
36,1017,-23.549295,-46.632075,sao paulo,SP,"-23.55001091199737, -46.63116636914989","Avenida Rangel Pestana, GlicÃ©rio, SÃ©, SÃ£o Paul...",01017000
37,1050,-23.549009,-46.642812,sao paulo,SP,"-23.549773516504185, -46.64559900666509","360, Rua Martins Fontes, Vila Buarque, RepÃºbli...",01050000
38,1050,-23.548756,-46.642789,sao paulo,SP,"-23.549773516504185, -46.64559900666509","360, Rua Martins Fontes, Vila Buarque, RepÃºbli...",01050000
39,1027,-23.538301,-46.630764,sao paulo,SP,"-23.538301166801343, -46.63076391104508","233, Rua Paula Sousa, SÃ©, SÃ£o Paulo, RegiÃ£o Im...",01027001
40,1050,-23.549854,-46.643139,sao paulo,SP,"-23.549773516504185, -46.64559900666509","360, Rua Martins Fontes, Vila Buarque, RepÃºbli...",01050000
41,1013,-23.547119,-46.634233,sao paulo,SP,"-23.546923208436723, -46.6342636964915","EdifÃ­cio CanadÃ¡, Rua 15 de Novembro, GlicÃ©rio,...",01013001
42,1033,-23.540321,-46.636395,sao paulo,SP,"-23.54032130474925, -46.636394815973325","EdifÃ­cio J. Moreira, 134, Avenida CÃ¡sper LÃ­ber...",01033000
43,1009,-23.545692,-46.635866,sao paulo,SP,"-23.54693540437998, -46.63658792659698","EdifÃ­cio Conde Prates, 293, Rua LÃ­bero BadarÃ³,...",01009000
44,1046,-23.546081,-46.644820,sao paulo,SP,"-23.54608112703553, -46.64482029837157","303, Avenida Ipiranga, Vila Buarque, RepÃºblica...",01046010
45,1050,-23.548748,-46.642391,sao paulo,SP,"-23.549773516504185, -46.64559900666509","360, Rua Martins Fontes, Vila Buarque, RepÃºbli...",01050000
46,1032,-23.541191,-46.634993,sao paulo,SP,"-23.53841810407414, -46.634778375266734","EdifÃ­cio PalÃ¡cio da PolÃ­cia Civil, 527, Rua Br...",01032001
47,1020,-23.552549,-46.631632,sao paulo,SP,"-23.55223547100232, -46.6284406588955","Ultragaz, Rua Tabatinguera, GlicÃ©rio, SÃ©, SÃ£o ...",01020001
48,1006,-23.550524,-46.636694,sao paulo,SP,"-23.55052430835593, -46.63669363835193","63, Rua CristovÃ£o Colombo, GlicÃ©rio, SÃ©, SÃ£o P...",01006020
49,1034,-23.542392,-46.637709,sao paulo,SP,"-23.54239162719593, -46.63770927785183","6, Rua AntÃ´nio de GodÃ³i, RepÃºblica, SÃ£o Paulo,...",01034000

In [20]:
final_olist_geolocation.isnull().values.any()

False

In [26]:
final_olist_geolocation.to_parquet('hdfs://namenode:8020/user/hive/warehouse/silver/olist_geolocation.parquet')